body { /*celulares*/
	font-family:'roboto',sans-serif;
	color:#c8aef5;
	background-color:#090f11;
	margin: 0;
}
.title{
	font-family: monospace;
	font-size: 5px;
	animation-name: appear-title;
	animation-duration: 5s;
	justify-content: center;
	text-align: center;
	margin:auto;
	white-space: pre;
}
.contenidos {
    --gap: 1px;
    --num-cols: 4;
    /*box-sizing: border-box;*/
	animation-name: appear-title;
	animation-duration: 5s;
	background-color:#1d2229;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
    align-items: center;
    margin:0px;
    padding-top: 8px;
}
a:visited { 
 text-decoration: none;
 color:#0f4084;
 }
.contenidos a {
  display: block;
  text-align: center; 
  text-decoration: none;
  margin-bottom: 8px;
  background-color: none;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
 color:#0f4084;
}
.contenidos a:hover {
	color:orange;
	background-color:orange;
}
p.texto {
	text-align:center;
	color:#074374;
	font-size:20px;
}
.conatiner {
  padding-left: 10%;
  max-width: 300px;
}

.conatiner > li {
list-style: none
}

.conatiner > li > a{
	color:#4c42d8;
 	text-decoration: none;
}

li + li {
border-top: 2px solid rgba(255,255,255,0.2);
margin-bottom: 10px;
margin-top:10px;
}
.todo{
	padding: 20px;
  display: block;
  text-align: center; 
}
.documentos{
  display: block;
  text-align: center; 
  padding: 30px;
  background-color:#0e181c;
  border-radius: 20px;
}
.documentos > div {
	height: auto;
  	border-radius: 10px;
	background-color:#036460;
    	margin: 0 auto;
	margin-bottom: 10px;
  	text-align: center; 
	 width: auto;
}
.desc{
  display: block;
  text-align: center; 
  padding: 10px;
}
 .img{
	 margin-top: 5px;
	 height: fit-content;
	 width: 300px;

 }

 .desc_pend{
	color:coral;
	padding: 10px;
 }

@media only screen and (min-width:768px){ /*tablets*/
body {
	color:red;
}

}

@media only screen and (min-width:900px){ /*compus*/
body {
	color:green;
}

}

@keyframes appear-title {
	from {
	opacity: 0%; 
	margin-bottom: 500px;
}
	to { 
	opacity: 100%;
	margin-bottom:0px;
}
}

@keyframes appear-content {
	from {
	opacity: 0%; 
}
	to { 
	opacity: 100%;
}
}
