body { /*celulares*/
	font-family:'roboto',sans-serif;
	color:#c8aef5;
	background-color:#090f11;
	margin: 0;
}
.title{
	font-family: monospace;
	font-size: 5px;
	animation-name: appear-title;
	animation-duration: 5s;
	justify-content: center;
	text-align: center;
	margin:auto;
	white-space: pre;
}
.contenidos {
    --gap: 1px;
    --num-cols: 4;
    /*box-sizing: border-box;*/
	animation-name: appear-title;
	animation-duration: 5s;
	background-color:#1d2229;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
    align-items: center;
    margin:0px;
}
a:visited { 
 text-decoration: none;
 color:#0f4084;
 }
.contenidos a {
  display: block;
  text-align: center; 
  text-decoration: none;
  background-color: none;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
 color:#0f4084;
}
.links-container{
  background-color:#021e28;
  margin:3%;
  padding-bottom: 50px;
  padding-top: 10px;
}
.texto {
	text-align:justify;
	margin: 10px;
}
p.texto {
	text-align:center;
	color:#4077b4;
	font-size:30px;
}
.conatiner {
  max-width: 70%;
  background-color:#051730;
      height: auto;
    margin: 0 auto;
    padding: 3%;
}

.conatiner > li {
	list-style: none;
	margin: 5%;
}

.conatiner > li > a{
	color:#c8aef5;
 	text-decoration: none;
}

.todo{
	padding: 20px;
  display: block;
  text-align: center; 
}
.documentos{
  display: block;
  text-align: center; 
  padding: 30px;
  background-color:#0e181c;
  border-radius: 20px;
}
.documentos > div {
	height: auto;
  	border-radius: 10px;
	background-color:#036460;
    	margin: 0 auto;
	margin-bottom: 10px;
  	text-align: center; 
	 width: auto;
}
.desc{
font-size:20px;
  display: block;
  text-align: center; 
  padding: 10px;
}
 .img{
	 margin-top: 5px;
	 height: fit-content;
	 width: 300px;

 }

 .desc_pend{
	color:coral;
	font-size:20px;
	padding: 10px;
 }
 .image-grid{
  padding: 5%;
  background-color:#0e181c;
  border-radius: 20px;
 }
 .image-grid> img{
	height:fit-content;
	width:300px;
	margin-bottom: 20px;
	border-radius: 5px;
 }

 .codigo{
	 margin: 10px;
	background-color:#2b3333;
	font-size:10px;
	height: fit-content;
	text-align:left;
	padding: 20px;
	color: #287874;
	white-space: pre-wrap;
 }
.video{
    margin: 0 auto;
    width:320px;
    position: relative;
    margin:auto;
    border:none;
}
#imagenes > img{
	width: 330px;
}
@media only screen and (min-width:768px){ /*tablets*/
.documentos > div {
	height: auto;
	 width: 45%;
	 height: fit-content;
}
.title{
	font-size: 9px;
}
 .img{
	 margin-top: 10px;
	 height: auto;
	 width: 270px;

 }
 .documentos {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
 }
 .image-grid> img{
	width:330px;
	margin:5px;
 }


}

@media only screen and (min-width:900px){ /*compus*/
	body{
	font-size:15px;
	}
.title{
	font-size: 20px;
}
h1{
	font-size:80px;
}
.contenidos>a{
font-size:50px;
}
.contenidos a:hover {
	background-color:orange;
}

p.texto {
	font-size:40px;
}
.conatiner > li > a{
	font-size:40px;
}
.conatiner >li:hover {
	background-color:orange;
}
.documentos > div {
	height: auto;
  	border-radius: 20px;
	background-color:none;
    	margin: 0 auto;
	margin-bottom: 10px;
  	text-align: center; 
	 width: auto;
	 padding: 5px;
}

.desc{
display: none;
}
.desc_pend{
display: none;
}
.desc:hover{
display: block;
}
.documentos > div:hover {
	 width: 500px;

}
.documentos > div>a>img {
	 width: 500px;
}

.documentos > div:hover >.desc_pend{
	display: block;
}

.documentos > div:hover >.desc{
	display: block;
}

}

@keyframes appear-title {
	from {
	opacity: 0%; 
	margin-bottom: 500px;
}
	to { 
	opacity: 100%;
	margin-bottom:0px;
}
}

@keyframes appear-content {
	from {
	opacity: 0%; 
}
	to { 
	opacity: 100%;
}
}
